html, body {
    overflow-x: hidden;
  }

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul{
    font-family: Montserrat;
    font-size: 16px; 
}

a {
    color: inherit;        
    text-decoration: none; 
}

a:hover, a:focus, a:active {
    color: inherit;       
    text-decoration: none; 
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    
}

#logo {
    font-family: 'Lora', sans-serif; 
    font-size: 28px; 
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    z-index: 1; 
}

.menu li a{
    display: blox;
    padding: 10px;
    
    
}

hr {
    color: aliceblue;
    margin: 0 auto;  
    width: calc(100% - 40px);
}

body {
    background-color: #fcfef6; 
    color: white; 
    font-family: 'Montserrat', sans-serif;
}


.landingImage {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    text-align: center;       
}

.landingImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;  
    top: 0;
    left: 0;
    z-index: -1; 
    filter: brightness(70%);
}

.landingImage a {
    color: white; 
    font-size: 48px; 
    margin: 0; 
    z-index: 1;  
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 42px;
    margin-top: 30px;
}


.about {
   
    z-index: 1; 
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin-top: 720px;
    color: rgb(86, 53, 30);
    display: flex;
    flex-direction: column;  
}

.about h3{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 100;
    filter: brightness(85%);
    margin-top: 50px;
    color: rgb(204, 173, 123);
    font-size: 24px;
}

.about h2{
    font-family: 'IBM Plex Mono', sans-serif; 
    font-weight: 100;
    color: rgb(172, 172, 139);
    font-size: 40px;
    
}

.about a {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300;
    padding: 0 20px; 
    justify-content: center;
    text-align: center;
    display: inline-block;
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Telemovel */
@media (max-width: 1024px) {

    .header{
        margin: 0;
    }

    .header a{
        font-size: 15px;
        
    }
}

@media  screen and ( max-width: 620px) {


    .header a{
        font-size: 8px;
        font-weight: 100;
        width: 100%; /* Ensure the container takes full width of the screen */
        max-width: 100%; /* Ensure no overflow */
    }
}

/* Computador */
@media screen and (min-width: 1024px) {
    .about a {
        padding: 0 100px; 
    }

    


}

